<%= div_for timeslot, class: 'row' do %>
  <header class="col-sm-12">
    <h2>
      <strong><%= timeslot.start.strftime('%l:%M%P') %></strong>
      <small class="text-muted">
        <%= link_venue timeslot.venue, data: { location: timeslot.venue.location.squish } %>
      </small>
    </h2>
  </header>

  <% if timeslot.artists.any? %>
    <div class="col-sm-5">
      <ul class="list-plain">
        <% timeslot.artists.each do |artist| %>
          <li>
            <%= link_to_unless artist.website.blank?,
                  artist.name, artist.website %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-7 text-muted timeslot-description">
      <%= simple_format timeslot.description %>
    </div>

  <% else %>
    <p class="text-muted">
      No artists scheduled for this time
    </p>
  <% end %>
<% end %>
