<%= div_for timeslot, class: "row" do %>
  <header class="col-sm-12">
    <h3>
      <%= link_map "<i class='fa fa-map-marker fa-fw'></i>".html_safe, timeslot.venue %>
      <%= timeslot.venue.name %>
    </h3>
  </header>

  <div class="text-muted timeslot-description">
    <%= simple_format timeslot.description %>
  </div>

  <% if timeslot.artists.any? %>
    <div class="col-sm-8">
      <%=raw timeslot.artists.map { |a|
            link_to_unless a.website.blank?,
              a.name, a.website
          }.to_sentence %>
    </div>

  <% else %>
    <p class="text-muted">
      No artists scheduled for this time
    </p>
  <% end %>
<% end %>
