<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Tour de Fun" />
  <meta property="og:type" content="website" />       
  <meta property="og:image" content="http://s3.amazonaws.com/tourdefun/logo/logo.png" /> 

  <title>Tour de Fun</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>


  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/analytics' %>

</head>
<body class="<%= action_name %>" id="<%= controller_name %>">

  <div id="root">
    <div id="header">
      <%= render 'layouts/header' %>
    </div>

    <div id="main">
      <%= render 'shared/page_title' %>
      <%= yield %>
    </div>

    <div id="root_footer"></div>
  </div>

  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
