<!DOCTYPE html>
<html>
<head>
  <title>Tourdefun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	       <a class="navbar-brand" href="#">navi</a>
		</div>
	</nav>

	<div class="container">
		<div class="row mt centered">
			<h1><div class="col-lg-6">
				<%= yield %>
			</div></h1>
			<div class="col-lg-6">
				<%= image_tag "tdflogo.png" %>
			</div>
		</div>
	</div>

</body>
</html>
